/* Google font */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    background-color: #121212;
}

div {
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
}

#clock {
    font-size: 56px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#date {
    font-size: 28px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
}

#schoolDay {
    font-size: 18px;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

.links {
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-size: 15px;
    float: right;
    padding-top: 0px;
    padding-bottom: 0px;
}

.time {
    font-size: 24px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

#altid {
    white-space: pre;
    text-align: center;
    font-size: 28px;
    padding-bottom: 15px;
    color: #0055ff;
}

#schedule {
    text-align: center;
    font-size: 28px;
    font-family: 'Orbitron', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #0055ff;
}

#time {
    text-align: left;
}

.period {
    text-align: right;
}
